@import "buttons.css";
@import "forms.css";

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    color: #202124;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

a {
    color: steelblue;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

header {
    height: 3.5rem;
    border: 1px solid #eceff1;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    padding: 0 1rem;
}

main {
    padding-top: 4rem;
    margin: 0 1rem;
}

header > a {
    display: flex;
    align-items: center;
}

#logo {
    background: url("../img/rocket.svg") no-repeat left 0 center;
    background-size: 2rem;
    align-self: stretch;
    padding-left: 2.5rem;
    color: #4f5d73;
    font-weight: bold;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.05rem;
}

h4, h5, h6 {
    font-size: 1rem;
}